<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetDir)\SampleApp.exe" KeyPath="yes" />
			</Component>
			<Component>
				<File Id="SampleAppDLL" Source="$(var.SampleApp.TargetDir)\SampleApp.dll" />
			</Component>
			<Component>
				<File Id="SampleAppRuntimeConfig" Source="$(var.SampleApp.TargetDir)\SampleApp.runtimeconfig.json" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
